*{
	margin: 0;
	padding: 0;
}
body{
	transform-style: preserve-3d;
}
ul{
	position: relative;
	width: 400px;
	margin: 100px auto;
	perspective:800;
	transform-style: preserve-3d;
	-webkit-perspective:800;
}	
li{
	position: absolute;
	-webkit-perspective:800;
	display: inline-block;
	list-style: none;
	height: 300px;
	width: 400px;
	line-height: 300px;
	text-align: center;
}
img{
	width: 80%;
	height: 80%;
}
li:nth-of-type(1){ 
	transform:translate3d(-300px,0,-173.2px) rotateY(-60deg);
}
li:nth-of-type(2){
	transform:translate3d(300px,0,-173.2px) rotateY(60deg);
} 
li:nth-of-type(3){
 	transform: translate3d(-300px,0,-579.6px) rotateY(-120deg);
}
li:nth-of-type(4){
	transform:translate3d(300px,0,-579.6px) rotateY(-60deg);
}
li:nth-of-type(5){
	transform: translateZ(-692.8px);
}
li:nth-of-type(6){
	transform:rotateY(0deg);
}	


